<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>게더링 인증 코드</title>
</head>
<body style="margin:0; padding:0; background-color:#f4f4f4; font-family:'Segoe UI', sans-serif;">
<table align="center" width="100%" style="max-width:600px; margin:0 auto; background-color:#ffffff; border-radius:10px; overflow:hidden; box-shadow:0 4px 12px rgba(0,0,0,0.08);">
  <!-- Header -->
  <tr>
    <td style="background-color:#3387E5; padding:20px 30px; text-align:center;">
      <h1 style="margin:0; font-size:22px; color:white;">게더링 인증 코드</h1>
    </td>
  </tr>
  <!-- Content -->
  <tr>
    <td style="padding:30px; color:#333333;">
      <p style="font-size:16px; line-height:1.8; margin-top:0;">
        안녕하십니까, 회원님.<br />
        게더링 팀입니다.
      </p>

      <p style="font-size:16px; line-height:1.8;">
        <strong style="color:#3387E5;" th:text="'인증 코드 : ' + ${code}"></strong>
      </p>

      <p style="font-size:16px; line-height:1.8;">
        ⏳5분 내로 인증을 완료해주세요.
      </p>


    </td>
  </tr>

  <!-- Footer -->
  <tr>
    <td style="background-color:#f1f1f1; padding:20px; text-align:center; font-size:13px; color:#888888;">
      ⓒ 2025 Gathering, Inc. All rights reserved.
    </td>
  </tr>
</table>
</body>
</html>