version: '3.8'

services:
  app:
    image: choibokeun/gathering:${IMAGE_TAG:-prod-latest}
    container_name: gathering-app-prod
    restart: always
    ports:
      - "8080:8080"

    environment:
      - SPRING_PROFILES_ACTIVE=prod

      # RDS & ElastiCache 연결 정보
      - SPRING_DATASOURCE_URL=${PROD_SPRING_DATASOURCE_URL}
      - SPRING_DATASOURCE_USERNAME=${PROD_SPRING_DATASOURCE_USERNAME}
      - SPRING_DATASOURCE_PASSWORD=${PROD_SPRING_DATASOURCE_PASSWORD}
      - SPRING_REDIS_HOST=${SPRING_REDIS_HOST}
      - SPRING_REDIS_PORT=${SPRING_REDIS_PORT}

      # JWT 비밀 값 & Swagger 설정
      - PROD_JWT_SECRET=${PROD_JWT_SECRET}
      - PROD_SWAGGER_USERNAME=${PROD_SWAGGER_USERNAME}
      - PROD_SWAGGER_PASSWORD=${PROD_SWAGGER_PASSWORD}

      # 이메일 & OAuth & CORS 설정
      - GATHERING_GMAIL_USERNAME=${GATHERING_GMAIL_USERNAME}
      - GATHERING_GMAIL_PASSWORD=${GATHERING_GMAIL_PASSWORD}
      - GOOGLE_RESOURCE_URI=${GOOGLE_RESOURCE_URI}
      - PROD_CORS_ALLOWED_ORIGINS=${PROD_CORS_ALLOWED_ORIGINS}

      # AWS S3 자격 증명
      - AWS_ACCESS_KEY=${AWS_ACCESS_KEY}
      - AWS_SECRET_KEY=${AWS_SECRET_KEY}

    depends_on:
      - redis

    networks:
      - gathering-network-prod

  redis:
    image: redis:latest
    container_name: gathering-redis-prod
    restart: always
    command: redis-server --appendonly yes
    volumes:
      - redis_data_prod:/data
    networks:
      - gathering-network-prod

networks:
  gathering-network-prod:
    driver: bridge

volumes:
  redis_data_prod: