spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:gathering-db;MODE=MySQL
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        dialect: org.hibernate.dialect.H2Dialect
  data:
    redis:
      host: ${SPRING_REDIS_HOST}
      port: ${SPRING_REDIS_PORT}

jwt:
  secret: ${JWT_SECRET}
  token-validity-in-seconds: 60

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
  api-docs:
    path: /v3/api-docs
  show-actuator: true
  default-produces-media-type: application/json

swagger:
  username: ${SWAGGER_USERNAME}
  password: ${SWAGGER_PASSWORD}

oauth2:
  google:
    resource-uri: ${GOOGLE_RESOURCE_URI}

cors:
  allowed-origins: ${CORS_ALLOWED_ORIGINS}

cloud:
  aws:
    credentials:
      access-key: ${AWS_ACCESS_KEY}
      secret-key: ${AWS_SECRET_KEY}
    region:
      static: ap-northeast-2
    stack:
      auto: false
    s3:
      bucket: gathering-bucket
      url: https://gathering-bucket.s3.ap-northeast-2.amazonaws.com/