spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${PROD_DATASOURCE_URL}
    username: ${PROD_DATASOURCE_USERNAME}
    password: ${PROD_DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: false
        show_sql: false
        dialect: org.hibernate.dialect.MySQL8Dialect

  data:
    redis:
      host: ${SPRING_REDIS_HOST}
      port: ${SPRING_REDIS_PORT}

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${GATHERING_GMAIL_USERNAME}
    password: ${GATHERING_GMAIL_PASSWORD}
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${PROD_GOOGLE_CLIENT_ID}
            client-secret: ${PROD_GOOGLE_CLIENT_SECRET}
            scope:
              - profile
              - email

jwt:
  secret: ${PROD_JWT_SECRET}
  token-validity-in-seconds: 3600

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
  api-docs:
    path: /v3/api-docs
  show-actuator: false
  default-produces-media-type: application/json

swagger:
  username: ${PROD_SWAGGER_USERNAME}
  password: ${PROD_SWAGGER_PASSWORD}

oauth2:
  google:
    resource-uri: ${GOOGLE_RESOURCE_URI}

cloud:
  aws:
    credentials:
      access-key: ${AWS_ACCESS_KEY}
      secret-key: ${AWS_SECRET_KEY}
    region:
      static: ap-northeast-2
    stack:
      auto: false
    s3:
      bucket: gathering-bucket
      url: https://gathering-bucket.s3.ap-northeast-2.amazonaws.com/
